Email_classifier/Email_classifier (1).json
{
  "name": "Email_classifier",
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -208,
        112
      ],
      "id": "6d34fdd3-93f1-422a-9ade-8e1d9fec48ba",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "aWBEhxs4U5fXKcnq",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "filters": {}
      },
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1.3,
      "position": [
        -384,
        -80
      ],
      "id": "b6dbabc7-1c87-472a-bee3-40ec3f033cfc",
      "name": "Email Received",
      "credentials": {
        "gmailOAuth2": {
          "id": "9d9qn72ha576QSNc",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "inputText": "=Sender: {{ $json.From }}\nSubject: {{ $json.Subject }}\nMessage: {{ $json.snippet }}",
        "categories": {
          "categories": [
            {
              "category": "High",
              "description": "Emails of high priority that must be checked; an action required by apps, an error in the workflow message by 'me'."
            },
            {
              "category": "Medium",
              "description": "Emails of medium priority. No sudden action required but still important to check in a weak or so."
            },
            {
              "category": "Low",
              "description": "Emails of low priority. promotions from apps i loged in, Newsletter mails like Rundown AI or Rundown Tech or robotics"
            }
          ]
        },
        "options": {
          "systemPromptTemplate": "Please classify the text provided by the user into one of the following categories: {categories}, and use the provided formatting instructions below. Don't explain, and only output the json."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.textClassifier",
      "typeVersion": 1.1,
      "position": [
        -112,
        -96
      ],
      "id": "6bbd4975-8c12-4f87-bf98-ee9178ff89b2",
      "name": "Email Classifier"
    },
    {
      "parameters": {
        "operation": "addLabels",
        "messageId": "={{ $json.id }}",
        "labelIds": [
          "Label_769925902123901360"
        ]
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        256,
        -256
      ],
      "id": "c8018448-b0c5-419d-96b5-78192438f226",
      "name": "High Priority",
      "webhookId": "1bd22a5e-9f60-4066-80f5-85dc99029cae",
      "credentials": {
        "gmailOAuth2": {
          "id": "9d9qn72ha576QSNc",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "operation": "addLabels",
        "messageId": "={{ $('Email Received').item.json.id }}",
        "labelIds": [
          "Label_3524245170831188931"
        ]
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        256,
        -48
      ],
      "id": "5e323196-8248-4c52-9297-45ff4cc459ac",
      "name": "Medium Priority",
      "webhookId": "2cf79c85-7592-479a-8cf3-36d80151811d",
      "credentials": {
        "gmailOAuth2": {
          "id": "9d9qn72ha576QSNc",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "operation": "addLabels",
        "messageId": "={{ $('Email Received').item.json.id }}",
        "labelIds": [
          "Label_3288859462897065620"
        ]
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        256,
        128
      ],
      "id": "c965a7e9-887d-4bb1-9fa4-384de0d1d320",
      "name": "Low Priority",
      "webhookId": "0b0eb260-e0dd-4e3e-9229-2013e90afb36",
      "credentials": {
        "gmailOAuth2": {
          "id": "9d9qn72ha576QSNc",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "operation": "send",
        "textBody": "=This email should be checked asap:\nFrom {{ $('Email Received').item.json.Subject }}.\nEmail: {{ $('Email Received').item.json.snippet }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1.1,
      "position": [
        464,
        -256
      ],
      "id": "b319cf4b-cc27-4cf5-9a89-4f41b7fd1a3e",
      "name": "Whatsapp Message",
      "webhookId": "8f35320c-6331-46d3-b6d1-1464d451bf0a"
    }
  ],
  "pinData": {},
  "connections": {
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Email Classifier",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Email Received": {
      "main": [
        [
          {
            "node": "Email Classifier",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Email Classifier": {
      "main": [
        [
          {
            "node": "High Priority",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Medium Priority",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Low Priority",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "High Priority": {
      "main": [
        [
          {
            "node": "Whatsapp Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "b446f89b-9642-4078-9515-4c764daf8e04",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "acffd2c917390de21873e220d97071da56c624fc1224ea4c9ed2a7e9f1da6c96"
  },
  "id": "G3p2W3cZTd7lhHnx",
  "tags": []
}